.dot {
	margin-right: 24px;
	width: 15px;
	height: 15px;
	background-color: white;
	opacity: 0.174;
	border-radius: 50%;
	cursor: pointer;
	transition: opacity .1s linear;
}

.dot:hover {
	opacity: 0.5;
}

.dot.selected {
	opacity: 1;
}
