.dot {
	margin-right: 24px;
	width: 15px;
	height: 15px;
	background-color: white;
	opacity: 0.174;
	border-radius: 50%;
	cursor: pointer;
	transition: opacity 0.1s linear;
}

.dot:hover {
	opacity: 0.5;
}

.dot.selected {
	opacity: 1;
}

@media screen and (max-width: 400px) {
	.dot {
		width: 10px;
		height: 10px;
	}
}
