.burger-button {
	width: 24px;
	height: 21px;

	position: relative;
	z-index: 10;
}

.burger-button::after {
	content: '';
	position: absolute;
	background-color: #d0d6f9;
	width: 3px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.burger-button.active::after {
	opacity: 1;
}

.burger-button__line {
	width: 50%;
	height: 3px;
	background-color: #d0d6f9;
	position: absolute;
	transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
		opacity 0.4s ease, width 0.4s ease;
	box-sizing: border-box;
}

.burger-button__line_top-l {
	top: 0;
	left: 0;
}

.burger-button__line_top-l.active {
	transform: translate(1px, 3.9px) rotate(45deg);
}

/* ///// */

.burger-button__line_top-r {
	top: 0;
	right: 0;
}

.burger-button__line_top-r.active {
	transform: translate(-1px, 3.9px) rotate(-45deg);
}

/* ///// */

.burger-button__line_mid-l {
	top: 9px;
	left: 0;
}

.burger-button__line_mid-l.active {
	transform: translateX(-100%);
	opacity: 0;
	width: 75%;
}

/* ///// */

.burger-button__line_mid-r {
	top: 9px;
	right: 0;
}

.burger-button__line_mid-r.active {
	transform: translateX(100%);
	opacity: 0;
	width: 75%;
}

/* ///// */

.burger-button__line_bot-l {
	top: 18px;
	left: 0;
}

.burger-button__line_bot-l.active {
	transform: translate(1px, -3.9px) rotate(-45deg);
}

/* ///// */

.burger-button__line_bot-r {
	top: 18px;
	right: 0;
}

.burger-button__line_bot-r.active {
	transform: translate(-1px, -3.9px) rotate(45deg);
}

.burger-button.active::after {
	opacity: 1;
}
