.slides-list {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: 100%;
	height: 100%;
}

.slides-list > div {
	flex: 1 0 100%;
}

.fade-animation {
	animation: fade 0.5s;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
