.tech-page {
	padding: 76px 0 214px 165px;
}

.tech__heading {
	margin-bottom: 137px;
}

.tech__img {
	position: absolute;
	right: 0;
	bottom: 101px;
}

@media screen and (max-width: 1300px) {
	.tech-page {
		display: flex;
		flex-direction: column;
	}
	.tech__img {
		position: static;
		height: 310px;
		width: 700px;
		object-fit: cover;
		margin-bottom: 56px;
	}
}

@media screen and (max-width: 1200px) {
	.tech__img {
		align-self: center;
	}
}

@media screen and (max-width: 1000px) {
	.tech-page {
		padding: 40px 38.5px;
	}

	.tech__heading {
		margin-bottom: 60px;
	}
	
	.tech__img {
		position: static;
		width: calc(100vw + 10px);
		height: 310px;
		object-fit: cover;
		margin-bottom: 56px;
	}
}

@media screen and (max-width: 580px) {
	.tech-page {
		padding: 24px 24px 81px;
	}

	.tech__heading {
		margin-bottom: 32px;
	}

	.tech__img {
		height: 171px;
		margin-bottom: 0;
	}
}