.crew-slide__member-position {
	display: inline-block;
	margin-bottom: 15px;
}

.crew-slide__member-name {
	margin: 0;
}

.crew-slide__member-description {
	max-width: 444px;
}

@media screen and (max-width: 769px) {
	.crew-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.crew-slide__member-position {
		margin-bottom: 8px;
	}

	.crew-slide__member-name {
		margin: 0 0 16px;
	}

	.crew-slide__member-description {
		max-width: 458px;
		text-align: center;
	}
}

@media screen and (max-width: 769px) {
	
}