.slides-list {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: 100%;
	height: 100%;
}

.slides-list > div {
	flex: 1 0 100%;
}

.fade-animation {
	animation: fade 0.5s;
}

@media screen and (max-width: 400px) {
	.slides-list {
		text-align: center;
	}
}