.crew {
	padding: 76px 0 94px 165px;
}

.crew__heading {
	margin-bottom: 154px;
}

.crew__image {
	position: absolute;
	bottom: 0;
	right: 137px;
}

.fadeIn {
	animation: fadeIn .3s linear;
}

.fadeOut {
	animation: fadeOut .3s linear;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}